@model ApplicationUser
@{

    Layout = "_Layout";
    ViewData["Title"] = Model.UserName;
}
    <script>
    function learn(id) {
        window.location.href = '@Url.Action("Learn","Posts")' + "?id=" + id;

    }
    function contact(email) {
        window.location.href = '@Url.Action("Contact", "Communication")' + "?email=" + email.toString();
    }
    </script>
<h1 class="text-center" style="text-transform:uppercase; font-family: Impact, Charcoal, sans-serif">@Model.UserName</h1>
<div class="container p-3 mb-2 bg-dark text-white" style="border-radius:1rem !important; padding:2rem !important">
    <h4>Email:</h4>
    <div class="row " style="margin-bottom:2rem !important">
        <div class="col">
            <h5><span class="badge badge-light">@Model.Email</span></h5>
        </div>
        <div class="col offset-md-8">
            <button type="button" class="btn btn-light" onclick="contact('@Model.Email')">Contact</button>
        </div>
    </div>
    <h4>SKILLS:</h4>
    <div class="row" style="margin-bottom:2rem !important">
        <div class="col">
            @if (Model.Skills != null)
            {
                <div class="row" style="width:50%">
                    @foreach (var skill in Model.Skills)
                    {
                        <div class="col-md-6"><h5><span class="badge badge-light">@skill.Skill.SkillName</span></h5></div>
                    }
                </div>
            }
            else
            {
                <h3>No preffered skills for this project</h3>
            }
        </div>

    </div>
    <h4>OTHER PROJECTS:</h4>
    <div class="row">
        <div class="col">
            @if (Model.Projects != null)
            {
                <div class="row" style="width:80%">
                    @foreach (var project in Model.Projects)
                    {
                        <div class="col-md-3" style="margin-bottom:1rem; list-style:none"><button onclick="learn(@project.Id)" class="btn btn-light" type="button">@project.Name</button></div>
                    }
                </div>
            }
            else
            {
                <h3>No more projects</h3>
            }
        </div>

    </div>
</div>