@model List<ProjectsNetwork.Models.Project>;
@{

    Layout = "_Layout";
    ViewData["Title"] = "Projects Posts";
}
    <script>
        function post(c) {
            window.location.href = '@Url.Action("Post", "Posts")';
        }
        function learn(id) {
            var url = '@Url.Action("Learn","Posts")';
            url = url.concat("/",id.toString());
            window.location.hred = url;
        }
    </script>
    <div class="container ">
        <div class="row" style="margin-top: 2%; margin-bottom: 2%">
            <div class="col-2 offset-md-10">
                
                <button type="button" class="btn btn-dark" onclick="post()">Post Project</button>
            </div>
        </div>

        @foreach(var project in Model)
        {
            <div class="row text-center container p-3 mb-2 bg-dark text-white rounded ">
                <div class="col">
                    <h4>@project.Name</h4>
                </div>
                <div class="col">
                    <p>@project.Description</p>
                </div>
                <div class="col">
                    <script>
                        
                    </script>
                    
                    <button type="button" class="btn btn-light" onclick="learn(@project.Id)" >Learn More</button>
                </div>
            </div>
        }
        
        


    </div>


