@model List<ProjectsNetwork.Models.Project>;
﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@{

    Layout = "_Layout";
}
<script>
        function post() {

            window.location.href = '@Url.Action("Post", "Posts")';
        }
        function learn(id) {
            window.location.href = '@Url.Action("Learn","Posts")' + "?id=" + id.toString();

        }
        function interested(id) {
            window.location.href = '@Url.Action("Interested", "Matches")' + "?projectId=" + id.toString();
        }
    
</script>
<div class="container ">
    @if ((String)ViewContext.RouteData.Values["action"] == "Index")
    {
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    Search By Skills: <input type="text" name="filterWord" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-default" /> |
                    <a asp-action="Index">Back to Full List</a>
                </p>
            </div>
        </form>
    }


    <div class="row" style="margin-top: 2%; margin-bottom: 2%">
        <div class="col-2 offset-md-10">

            <button type="button" class="btn btn-dark" onclick="post()">Post Project</button>
        </div>
    </div>

    @foreach (var project in Model)
    {
        <div class="row text-center container p-3 mb-2 bg-dark text-white" style="border-radius:1rem !important">
            <div class="col">
                <h4 style="text-transform: capitalize;">@project.Name</h4>
            </div>
            <div class="col">
                <p>@project.Description</p>
            </div>
            <div class="col">

                <button type="button" class="btn btn-light" onclick="learn(@project.Id)">Learn More</button>
                @if (project.UserId == userManager.GetUserId(User))
                {
                    <button type="button" class="btn btn-light" onclick="interested(@project.Id)">Interested Users</button>
                    
                }

            </div>
        </div>
    }




</div>


