
﻿<!--
     <<<<<<< HEAD
 model Tuple<Project, List<Skill>>
model Tuple<Project, bool>
>>>>>>> origin/master
=======
-->
﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@model Learn
@{

    Layout = "_Layout";
    ViewData["Title"] = Model.Project.Name;
}
<script>
        function post(projectId) {
            window.location.href = '@Url.Action("SubmitInterest", "Posts")' + "?projectId=" + projectId.toString();
        }

</script>
<div class="container">
    @if (Model.Project.UserId != userManager.GetUserId(User))
    {
        <div class="row" style="margin-top: 2%; margin-bottom: 2%">
            <div class="col-2 offset-md-10">
                @if (Model.Accepted)
                {
                    <i class="icon-ok-sign" style="color:green">User accepted your interest</i>
                }
                else if (Model.Request)
                {
                    <i class="icon-ok-sign" style="color:green">Interest Submitted</i>
                }
                else
                {
                    <button type="button" class="btn btn-dark" onclick="post(@Model.Project.Id)">REQUEST TO JOIN</button>
                }



            </div>
        </div>
    }


        <h1 class="text-center" style="text-transform:uppercase; font-family: Impact, Charcoal, sans-serif">@Model.Project.Name</h1>
        <div class="container p-3 mb-2 bg-dark text-white" style="border-radius:1rem !important">
            <h4>DESCRIPTION:</h4>
            <div class="row">
                <div class="col">
                    <p>@Model.Project.Description</p>
                </div>
            </div>
            <h4>PREFERED SKILLS:</h4>
            <div class="row">
                <div class="col">
                    @if (Model.Skills != null)
                    {
                        <ul>
                            @foreach (var skill in Model.Skills)
                            {
                                <li>@skill.SkillName</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <h3>No preffered skills for this project</h3>
                    }
                </div>
            </div>
        
    </div>

</div>


