
﻿<!--
     <<<<<<< HEAD
 model Tuple<Project, List<Skill>>
model Tuple<Project, bool>
>>>>>>> origin/master
=======
-->
﻿@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager
@model Learn
@{

    Layout = "_Layout";
    ViewData["Title"] = Model.Project.Name;
}
<script>
        function post(projectId) {
            window.location.href = '@Url.Action("SubmitInterest", "Posts")' + "?projectId=" + projectId.toString();
        }

        function cancel(projectId) {
            window.location.href = '@Url.Action("CancelInterest", "Posts")' + "?projectId=" + projectId.toString();


        }

        function contact(id) {
            window.location.href = '@Url.Action("UserInfo","Communication")' + "?id=" + id;

        }

</script>
<div class="container">
    @if (Model.Project.UserId != userManager.GetUserId(User))
    {
        <div class="row" style="margin-top: 2%; margin-bottom: 2%">
            <div class="col-2 offset-md-10">
                @if (Model.Accepted)
                {
                    <i class="icon-ok-sign" style="color:green">User accepted your interest</i>
                    <button type="button" class="btn btn-light" onclick="contact('@Model.Project.Id')">Contact</button>
                }
                

                else if (Model.Request && !Model.Accepted)
                {
                    <button type="button" class="btn btn-dark" onclick="cancel(@Model.Project.Id)">CANCEL INTEREST</button>
                    <i class="icon-ok-sign" style="color:green">Interest Submitted</i>
                }
                else
                {
                    <button type="button" class="btn btn-dark" onclick="post(@Model.Project.Id)">REQUEST TO JOIN</button>
                }



            </div>
        </div>
    }


        <h1 class="text-center project-name" >@Model.Project.Name</h1>
        <div class="container p-3 mb-2 bg-dark text-white" style="border-radius:1rem !important">
            <h4>DESCRIPTION:</h4>
            <div class="row">
                <div class="col">
                    <p>@Model.Project.Description</p>
                </div>
            </div>
            <h4>PREFERED SKILLS:</h4>
            <div class="row">
                <div class="col">
                    @if (Model.ProjectSkills != null)
                    {
                        <div class="row" style="width:50%">
                            @foreach (var skill in Model.ProjectSkills)
                            {
                                <div class="col-md-6"><h5><span class="badge badge-light">@skill.SkillName</span></h5></div>
                            }
                        </div>

                    }
                    else
                    {
                        <h3>No preffered skills for this project</h3>
                    }

                    @if (Model.Project.UserId == userManager.GetUserId(User))
                    {

                        <form id="projectPost" method="post" action="/User/Posts/Update?projectId='@Model.Project.Id'">
                            <div class="container">
                                <div class="form-group text-dark">
                                    <input name="projectId" type="hidden" value="@Model.Project.Id">

                                    <select class="js-example-responsive" name="skills" multiple="multiple" style="width:100%;">
                                        @if (Model.AllSkills != null)
                                        {
                                            foreach (var skill in Model.AllSkills)
                                            {
                                                <option value="@skill.Id">@skill.SkillName</option>
                                            }
                                        }
                                    </select>
                                </div>



                                <button type="submit" class="btn btn-light">Update Skills</button>
                            </div>
                        </form>
                    }
                </div>
            </div>
        
    </div>

</div>


